OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
JWT_SECRET=
SERVER_ADDRESS=127.0.0.1:8750
DATABASE_NAME=db_name
DATABASE_USER=
DATABASE_PASS=
DATABASE_HOST=localhost
DATABASE_PORT=5432
GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY_PATH=./keys/your-private-key.pem
GITHUB_APP_WEBHOOK_SECRET=
GITHUB_APP_NAME=
IS_PRODUCTION_ENV=false
ACCESS_TOKEN_EXPIRY=1
REFRESH_TOKEN_EXPIRY=3
CLOUDFLARE_TOKEN=
RABBITMQ_CONNECTION_STRING=amqp://guest:guest@localhost:5672/
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
APP_ENV=development
