DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_NAME=db_name
DATABASE_PASS=
RABBITMQ_CONNECTION_STRING=amqp://guest:guest@localhost:5672/
CLOUDFLARE_BUCKET_NAME=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_ACCESS_KEY_SECRET=
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
APP_ENV=development
